.div{
    font-family: arial;
    display: inline-block;
    padding-bottom: 15px;
    padding-left: 15px;
    width: 380px;
    border: none;
    background-color: rgb(33, 33, 33);
    color: white;
}

.title{
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: -2px;
}

.disc{
    color: #A0A0A0;
    margin-bottom: 3px;
}